<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    We ❤️ Pandas!
  </h1>
</div>
<img src="assets/images/panda.jpg">
<p>They are the least racist animal you will ever meet. I'm sure plenty of you have heard this before, and it is kind of a common joke, but to me it just makes sense. Pandas are black, white and Asian.</p>

<p>Pandas, the  living proof that you can be fat just by eating salad.</p>

<h2>Habitat information</h2>
<li>Pandas are found from China and they  live in a few mountain ranges in central China, mainly in Sichuan, but also in neighbouring Shaanxi and Gansu.</li>
<li>Panda's diet is primarily herbivorous, consisting almost exclusively of bamboo</li>
<li>Pandas communicate through vocalization and scent marking such as clawing trees or spraying urine.</li>
<li>A panda's daily diet consists almost entirely of the leaves, stems and shoots of various bamboo species.</li>
<li>Bamboo contains very little nutritional value so pandas must eat 12-38kg every day to meet their energy needs.</li>
<router-outlet></router-outlet>
